.header {
  display: grid;
  grid-template-columns: minmax(10px,100px) 1fr 1fr minmax(10px,100px);
  grid-template-rows: 1fr 1fr max-content minmax(10px,50px);
  column-gap: 20px;
  row-gap: 20px;
  color: #fff;
  padding: 0;
  height: 100vh;
  justify-items: start;
}
