.header__link {
  display: block;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 20px 0;
}

.header__link:hover {
  cursor: pointer;
  color: #557a95;
  background-color: #fff;
}
