
.swiper-button-prev,
.swiper-button-next {
  width: 50px;
  height: 50px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  border: none;
  transition: background-image .4s ease-in-out;
}

.swiper-button-prev {
  background-image: url('../images/to-left.png');
}

.swiper-button-prev:hover {
  background-image: url('../images/to-left-active.png');
}

.swiper-button-next {
  background-image: url('../images/to-right.png');
}

.swiper-button-next:hover {
  background-image: url('../images/to-right-active.png');
}



.swiper-pagination-bullet {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 8px 8px;
  width: 30px;
  height: 30px;
  background-image: url('../images/dot.png');
  opacity: 1;
}


.swiper-pagination-bullet-active {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-image: url('../images/bullet-act.png');
  transition: background-size .4s ease-out;
}

.swiper-pagination {
  top: 92%;
}



.slider {
  width: 96%;
  position: relative;
  margin: 0 auto;
  z-index: 3;
}

.slider__container {
  max-width: 88%;
  height: 380px;
  padding: 50px 0;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.slider__wrapper{
  display: flex;
  width: 100%;
  height: 100%;
}

.slider__slide{
  flex-shrink: 0;
  background-color: #fff;
  color: #80aebd;
  font-size: 16px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  max-height: 340px;
}

.slider__slide_active {
  position: relative;
  transform: scale(1.2);
  transition: transform .7s;
  z-index: 4;
}


.slider__pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}


.slider__title {
  color: #fff;
  /* background-color: rgba(215, 0, 38, .8); */
  background-color: #bc3555;
  /* background-color: #80aebd; */
  /* background-color: rgba(56, 58, 61, 0.9); */
  position: relative;
  z-index: 3;
  font-family: 'Bebas-Neue';
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;
  width: 70%;
  padding: 4px 16px;
}

.slider__overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(56, 58, 61, 0.6);
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0;
}

.slider__slide_active:hover .slider__overlay{
  opacity: 1;
}

.slider__slide:hover .slider__overlay{
  opacity: 1;
}

.slider__link{
  width: 40%;
  height: auto;
  text-decoration: none;
  font-family: 'Bebas-Neue';
  letter-spacing: 3px;
  color: white;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  z-index: 2;
  border-right: 2px solid #fff;
}

.slider__link:last-child {
  border-right: none;
}



.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

