.header__subtitle {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  z-index: 1;
  align-self: start;
  justify-self: start;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  overflow: hidden;
  width: 0%;
  letter-spacing: 4px;
  padding-left: 120px;
}


.header__subtitle::before,
.header__subtitle::after {
  content: '<p> ';
  animation: flashing 3s ease 6s infinite both;
  letter-spacing: 1px;
}

