@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);


@import url(../blocks/page/page.css);
@import url(../blocks/page/__min/page__min.css);
@import url(../blocks/page/__max/page__max.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__menu-list/header__menu-list.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__photo/header__photo.css);
@import url(../blocks/header/__menu-item/header__menu-item.css);

@import url(../blocks/content/content.css);
@import url(../blocks/content/__title/content__title.css);


@import url(../blocks/about-me/about-me.css);
@import url(../blocks/about-me/__specialty/about-me__specialty.css);
@import url(../blocks/about-me/__photo/about-me__photo.css);
@import url(../blocks/about-me/__photo-container/about-me__photo-container.css);
@import url(../blocks/about-me/__introduce/about-me__intriduce.css);
@import url(../blocks/about-me/__grid/about-me__grid.css);
@import url(../blocks/about-me/__education/about-me__education.css);
@import url(../blocks/about-me/__education-list/about-me__education-list.css);
@import url(../blocks/about-me/__education-item/about-me__education-item.css);
@import url(../blocks/about-me/__education-title/about-me__education-title.css);
@import url(../blocks/about-me/__introduce-title/about-me__introduce-title.css);




@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();









@keyframes flashing {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .6;
  }

  100% {
    opacity: 0;
  }
}


.header__link_active {
  color:  #070707;
}




.typewriter {
  border-right: .17em solid #fff;
  white-space: nowrap;

  animation:
    typing 3.5s steps(30, end) 3s both,
    blink-caret .7s step-end 7 forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: #80aebd;
  }
}



.skills {
  display: none;
}




.portfolio {
  background-color: #7395ae;
  padding: 90px 100px;
  min-height: 100vh;
}


.portfolio__grid {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: 5px;
  grid-template-rows: repeat(2, minmax(100px, 300px));
  opacity: .8;

}

.portfolio__project {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.portfolio__project_name_learn {
  background-image: url(../images/how-to-study.png);
}

.portfolio__project_name_travel {
  background-image: url(../images/across-russia.png);
  grid-row: 1 / 2;
  grid-column: 2 / 4;

}

.portfolio__project_name_mesto {
  background-image: url(../images/mesto.png);
}

.portfolio__project_name_portfolio {
  background-image: url(../images/portfolio.jpg);
}

.portfolio__project_name_wd {
  background-image: url(../images/wd1.jpg);
}


.portfolio__overlay{
  background-color: rgba(26, 17, 17, 0.75);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 26px;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  opacity: 0;
}

.portfolio__overlay:hover{
  opacity: 1;
}

