@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../slider/swiper-bundle.css);
@import url(../slider/swiper-bundle.min.css);

@import url(../blocks/page/page.css);
@import url(../blocks/page/__min/page__min.css);
@import url(../blocks/page/__max/page__max.css);
@import url(../blocks/page/__accent/page__accent.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__menu-list/header__menu-list.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__link/_active/header__link_active.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__photo/header__photo.css);
@import url(../blocks/header/__menu-item/header__menu-item.css);

@import url(../blocks/content/content.css);
@import url(../blocks/content/__title/content__title.css);

@import url(../blocks/about-me/about-me.css);
@import url(../blocks/about-me/__specialty/about-me__specialty.css);
@import url(../blocks/about-me/__photo/about-me__photo.css);
@import url(../blocks/about-me/__photo-container/about-me__photo-container.css);
@import url(../blocks/about-me/__introduce/about-me__intriduce.css);
@import url(../blocks/about-me/__grid/about-me__grid.css);
@import url(../blocks/about-me/__education/about-me__education.css);
@import url(../blocks/about-me/__education-list/about-me__education-list.css);
@import url(../blocks/about-me/__education-item/about-me__education-item.css);
@import url(../blocks/about-me/__education-title/about-me__education-title.css);
@import url(../blocks/about-me/__introduce-title/about-me__introduce-title.css);

@import url(../blocks/portfolio/portfolio.css);
@import url(../slider/slider-custom.css);

@import url(../blocks/contact/contact.css);
@import url(../blocks/contact/__card/contact__card.css);
@import url(../blocks/contact/__name/contact__name.css);
@import url(../blocks/contact/__box/contact__box.css);
@import url(../blocks/contact/__group/contact__group.css);
@import url(../blocks/contact/__text/contact__text.css);
@import url(../blocks/contact/__pic/contact__pic.css);
@import url(../blocks/contact/__link/contact__link.css);
@import url(../blocks/contact/__list/contact__list.css);
@import url(../blocks/contact/__list-item/contact__list-item.css);
@import url(../blocks/contact/__list-link/contact__list-link.css);
@import url(../blocks/contact/__list-link/_type/contact__list-link_type_github.css);
@import url(../blocks/contact/__list-link/_type/contact__list-link_type_whatsapp.css);
@import url(../blocks/contact/__list-link/_type/contact__list-link_type_telegram.css);
@import url(../blocks/contact/__list-link/_type/contact__list-link_type_vk.css);
@import url(../blocks/contact/__list-link/_type/contact__list-link_type_instagram.css);

@import url();
@import url();
@import url();
@import url();
@import url();



@keyframes flashing {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .6;
  }

  100% {
    opacity: 0;
  }
}

.typewriter {
  border-right: .17em solid #fff;
  white-space: nowrap;

  animation:
    typing 3.5s steps(30, end) 3s both,
    blink-caret .7s step-end 7 forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: #80aebd;
  }
}

.skills {
  display: none;
}

