.about-me__education-item {
  margin-right: 16px;
  flex: 1;
}

.about-me__education-item:last-of-type {
  margin-right: 0;
}

.about-me__education-item:before {
  padding-right: 10px;
  font-weight: bold;
  color: #fff;
  content: "\2714";
  transition-duration: 0.5s;
}

.about-me__education-item:hover:before {
  color: #5d5c61;
  content: "\2714";
}

.about-me__education-item:hover .about-me__specialty{
  color: #5d5c61;
}
